@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Noto+Sans+JP:wght@100&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
    font-family: Oswald,  sans-serif;
    font-weight: bold;
}
body {
    display: grid;
    grid-template: 1fr 4fr / .75fr 3fr ; 
}


.sidebar {
    background-color:#a7f3d0;
    grid-row: 1 / 3 ;
    display: grid;
    grid-template-rows: .25fr .20fr;
}

img {
    width: 25px;
    height: 25px ;
    margin-right: 15px ;
    
}

.directory, .settings {
    font-weight: bolder ;
    display: grid;
    gap:20px ;
    padding: 30px ;
  
}

.navigation, .settings > div {
    display: flex;
    align-items: center ;
}

.main-content {
    background-color:#e5e7eb;
    grid-column: 2 / 3 ;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 30px ;
    padding: 30px ;
}

.last-column {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: .5fr .25fr ;
}

.header {
    background-color: #fafafa ;
    grid-column: 2 / 3;
}

#search-bar {
    background-color: black;
    width: 100px ;
    height: 10px ;
    border-radius: 15px ;
}

.projects {
    grid-column: 1 / 2;
    display: grid;
    grid-template: 1fr 1fr 1fr / .5fr .5fr;
    gap:30px ;
}

.showcase {
    height: auto ;
    max-width: 80ch ;
    background-color:  #fafafa ;
    border-radius: 10px;
    padding: 20px ;
}

.announcement {
    border-radius: 10px;
    background-color : #fafafa;
    width: 50ch ;
    display: grid;
    grid-template-rows: .25fr .25fr .25fr;
    justify-items: center;
 
}

.notification {
    width: 40ch;
}

.trending {
    background-color : #fafafa;
    width: 45ch;
    display: grid;
    grid-template-rows: .25fr .25fr .25fr .25fr;
}